body {
    font-family: "Droid Sans", sans-serif;
}
h1, h2, h3, h4 {
    line-height: 1.1em;
    color: #000;
}
p {
    line-height: 1.5em;
    color: #333;
}
header {
    height: 126px;
    margin: 12px 0;
}

/* sidebar stuff */
aside {
/*    background-color: #d3d7cf;*/
    height: 600px;
    position: relative;
    font-size: 14px;
    padding: 12px;
}
.abt-me h3 {
    margin: 0 22px 0 23px;
    float: right;
    min-width: 50px;
}
.abt-me p {
    clear: both;
} /* end sidebar stuff */

div[role="main"] {
    border: 1px solid transparent;
}

/* datestamp awesomeness */
.post time {
    display: block;
    width: 66px;
    position: absolute;
    top: 10px;
    left: -78px;
    font-family: Verdana;
    text-align: center;
}
.post time span:nth-of-type(1) {
    font-size: 48px;
    display: inline-block;
} 
.post time span:nth-of-type(2) {
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: -6px;
}
/* end datestamp awesomeness */


