body {
    font-family: "Droid Sans", sans-serif;
}

h1, h2, h3, h4 {
    line-height: 1.1em;
    color: #000;
    border:
}

p {
    line-height: 1.5em;
    color: #333;
}

header {
    height: 126px;
    margin: 12px 0;
}

aside {
/*    float: right;*/
    background-color: #d3d7cf;
    height: 600px;
    position: relative;
}

div[role="main"] {
    border: 1px solid transparent;
}

/* datestamp awesomeness */
time span {
    position: absolute;
    font-family: Verdana;
    text-align: center;
}

time span:nth-of-type(1) {
    font-size: 24px;
    text-transform: uppercase;
    top: 60px;
    left: -72px;
}

time span:nth-of-type(2) {
    font-size: 48px;
    top: 9px;
    left: -80px;
}
